.Project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ProjetTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: black;
}

.ProjectDescription {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
}

.ProjectGalery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.ProjectImg {
    width: 250px;
}

.BackBtn {
    position: fixed;
    top: 5%;
    left: 2%;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
}