.Projects {
    background-color: var(--color-background2);
}

.Projects-Title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 30px;
}

.Projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

@media (max-width: 768px) {
    .Projects-list {
        flex-direction: column;
    }
}

.Project {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.ProjetTitle {
    font-size: 30px;
}