.Projects {
    background-color: var(--color-background2);
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
}

.Projects-Title {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px 30px 30px 30px;
}

.Projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

@media (max-width: 768px) {
    .Projects-list {
        flex-direction: column;
    }
}

.Project {
    background-color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    max-width: 200px;
    height: fit-content;
    cursor: pointer;
}

.Project:hover {
    background-color: var(--color-background2);
}

.ProjetTitle {
    font-size: 30px;
}

.ProjectDescription {
    text-align: center;
}