.AboutTitle {
    padding-bottom: 20px;
    margin-top: 10px;
}

.AboutText {
    display: flex;
    flex-direction: column;
    gap: 20px;

    >p {
        color: black;
        font-size: 22px;
        background-color: white;
        padding: 15px;
        outline: #66666670 solid 1px;
    }

    >p:nth-child(even) {
        text-align: start;
        border-radius: 0px 15px 15px 0px;
    }

    >p:nth-child(odd) {
        text-align: end;
        border-radius: 15px 0px 0px 15px;
    }

    .highlight {
        font-weight: bold;
        font-style: italic;
    }
}

@media (max-width: 768px) {
    .AboutText {
        >p {
            font-size: 18px;
        }
    }
}