#About {
    background-color: white;
}

#AboutContainer {
    > h1 {
        text-align: center;
    }
}

.AboutTitle {
    padding-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.AboutText {
    display: flex;
    flex-direction: column;
    gap: 20px;

    >p {
        color: #101010;
        font-size: 1.5rem;
        -webkit-backdrop-filter: blur(10px) saturate(180%);
        backdrop-filter: blur(10px) saturate(180%);
        padding: 15px;
    }

    .highlight {
        font-weight: bold;
        color: var(--accent-color);
    }
}

@media (max-width: 768px) {
    .AboutText {
        >p {
            font-size: 18px;
        }
    }
}