.AboutTitle {
    padding-bottom: 20px;
    margin-top: 10px;
}

.Timeline {
    display: flex;
    align-items: center;
    justify-content: center;

    .Timeline_item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 50%;
        margin-top: 50px;
        background-color: var(--color-secondary);
        outline: #66666670 solid 1px;

        .Timeline_year {
            color: var(--color-primary);
        }
    }

    @media (max-width: 768px) {
        .Timeline_line {
            width: 50px;
        }

        .Timeline_item {
            margin: 0px;
        }
    }

    .Timeline_section {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 50px;

        .Timeline_line {
            width: 200px;
            height: 5px;
            background-color: var(--color-secondary);
        }

        @media (max-width: 768px) {
            .Timeline_line {
                display: none;
            }
        }

        .Timeline_pin {
            background-color: var(--color-secondary);
            height: 20px;
            width: 3px;
        }

        .Timeline_info {
            width: fit-content;
            background-color: var(--color-secondary);
            color: var(--color-primary);
            padding: 5px 10px;
            border-radius: 10px;
            outline: #66666670 solid 1px;
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .Timeline {
        flex-direction: column;
    }
}

.ExperienceSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .Experience {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--color-secondary);
        color: white;
        width: 15rem;
        height: 10rem;
        border-radius: 15px;
        padding: 4px;
        outline: #66666670 solid 1px;
        // box-shadow: 0px 0px 5px var(--color-secondary);

        .ExperienceData {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            &>* {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
                padding: 15px;
            }
        }

        .ExperienceLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 11px;
            background-color: white;
            padding: 10px;
        }

        .ExperienceTitle {
            font-size: 24px;
            font-weight: bold;
        }

        .ExperienceDetail {
            text-align: center;
        }

        .displayed {
            display: flex;
        }

        .hidden {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .ExperienceSection {
        flex-direction: column;
    }
}