.Home {
    display: flex;
    flex-direction: column;
    justify-content: end !important;
}

#Hi {
    margin-right: 100px;
    color: var(--title-color);
    animation-duration: 2s;
    animation-name: appear;
}

#Name {
    margin-Left: 100px;
    padding: 5px 10px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 20px;
    animation-duration: 3s;
    animation-name: appear;
    outline: #66666670 solid 1px;
}

@keyframes appear {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/* .appear {
    animation-duration: 2s;
    animation-name: appear;
} */

.WelcomeTitle {
    margin: 10px;
    font-size: 5vh;
}

@media (max-width: 768px) {

    #Hi,
    #Name {
        margin: 0px;
    }
}