.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #080808 !important;

    .Info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #Hi {
            font-size: 2rem;
            margin-right: 100px;
            color: white;
            animation-duration: 0.5s;
            animation: appear 0.5s ease-in-out;
        }

        #Name {
            font-size: 3rem;
            margin-Left: 100px;
            padding: 5px 10px;
            background-color: white;
            color: black;
            border-radius: 20px;
            animation: appear 1s ease-in-out;
        }
    }
}

@keyframes appear {
    from {
        opacity: 0%;
        scale: 0;
    }

    to {
        opacity: 100%;
        scale: 1;
    }
}

.WelcomeTitle {
    margin: 10px;
    font-size: 5vh;
}

@media (max-width: 768px) {

    #Hi,
    #Name {
        margin: 0px !important;
    }

    #Hi {
        font-size: 1.5rem !important;
    }

    #Name {
        font-size: 2rem !important;
    }
}