@import './modal.scss';
@import './navbar.scss';
@import './home.scss';
@import './about.scss';
@import './projects.scss';

/* ===== GENERAL ===== */

@font-face {
    font-family: "RobotoLocal";
    src: url("../font/Roboto-Regular.ttf");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: RobotoLocal, sans-serif;
}

html::-webkit-scrollbar {
    width: 0px;
}

*::-moz-selection {
    color: black;
    background: white;
}

*::selection {
    color: black;
    background: white;
}

body {
    background-image: linear-gradient(to right bottom, #7affba, #2af4d8, #00e6ef, #00d5fc, #49c2fb, #55c1fa, #60c0f9, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#background {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 100%;
}

.Page {
    background-color: transparent;
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    color: white;
    text-align: center;
    padding: 10px 30px 30px 30px;
}

.Container {
    width: fit-content;
    height: fit-content;
    padding: 20px;
}

/* ===== CONTACT ===== */

.ContactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ContactImage {
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    width: 100px;
}