@import './modal.scss';
@import './navbar.scss';
@import './home.scss';
@import './about.scss';
@import './projects.scss';

/* ===== GENERAL ===== */

:root {
    --accent-color: #FCA311;
}

@font-face {
    font-family: "RobotoLocal";
    src: url("../font/Roboto-Regular.ttf");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: RobotoLocal, sans-serif;
}

html::-webkit-scrollbar {
    width: 0px;
}

*::-moz-selection {
    color: white;
    background: black;
}

*::selection {
    color: white;
    background: black;
}

body {
    background-color: #F5F5F7;
}

#background {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 100%;
}

.Page {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    color: var(--accent-color);
    text-transform: uppercase;
    padding: 10px 30px 30px 0px;
    font-size: 3rem;
}

.Container {
    width: fit-content;
    height: fit-content;
    padding: 20px;
}

.button {
    background-color: lightgrey;
    color: #101010;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--accent-color);
    }
}

/* ===== CONTACT ===== */

#Contact {
    background-color: #101010;
}

#ContactContainer {
    >h1 {
        color: var(--accent-color);
        text-align: center;
        padding: 20px;
    }
}

.ContactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ContactImage {
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    width: 100px;

    &:hover {
        scale: 1.1;
        transition: scale 0.3s ease-in-out;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #080808;
    color: #F9F9F9;
}