.modal-zone {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    .modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 75vw;
        position: fixed;
        border-radius: 15px;
        z-index: 101;
        animation: scaleAnimation 0.3s ease-in-out;
        background-color: #F9F9F9;
        outline: #66666670 solid 1px;
        height: fit-content;

        .modal-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            background-color: #101010;
            color: white;

            .modal-close {
                position: absolute;
                left: 0;
                cursor: pointer;
                font-size: large;
                color: white;
                background-color: transparent;
                margin: 0px 15px;
            }

            .modal-title {
                margin: 0 auto;
            }
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: auto;
            padding: 30px;

            .row {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                width: 100%;
            }

            .column {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100%;
            }

            .modal-description {
                font-weight: bold;
            }

            .modal-try {
                text-decoration: none;
                padding: 10px;
                margin: 5px;
                background-color: var(--accent-color);
                color: #101010;
                border-radius: 15px;
            }

            .modal-tech {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3px;
            }

            .modal-text {
                >* {
                    color: #101010;

                }
            }

            .modal-link {
                display: flex;
                gap: 10px;

                a {
                    text-decoration: underline;
                    color: blue;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .modal {
            max-width: 100vw;
            overflow: auto;

            .modal-body {
                .row {
                    flex-direction: column;
                }

                .modal-img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}


@keyframes scaleAnimation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}