#Nav {
    position: fixed;
    height: 50vh;
    top: 25vh;
    left: 1vw;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    .NavItem {
        text-decoration: none;
        text-align: center;
        background-color: black;
        outline: 1px white solid;
        border-radius: 20px;
        width: 48px;
        height: 48px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            outline: 2px white solid;
        }

        .NavIcon {
            width: 24px;
            height: 24px;
        }
    }

    .NavItemCurrent {
        outline: 2px white solid;
        transform: scale(1.2) translate(10px, 0px);
        transition: transform 0.2s;
    }
}

@media (max-width: 768px) {
    #Nav {
        display: none;
    }
}