#Nav {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);

    .NavItem {
        text-decoration: none;
        text-align: center;
        color: white;
        cursor: pointer;
        padding: 10px;

        &:hover {
            color: var(--accent-color);
        }
    }
}

@media (max-width: 768px) {
    #Nav {
        display: none;
    }
}