/* ===== PROJECTS ===== */

.Projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
    gap: 40px;

    .Project {
        background-color: rgba(0, 4, 80, 0.5);
        padding: 20px;
        width: 20rem;
        height: 10rem;
        cursor: pointer;
        border-radius: 15px;
        outline: #66666670 solid 1px;

        &,
        &>* {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .ProjectTitle {
            font-size: 24px;
            color: white;
        }

        .ProjectDescription {
            text-align: center;
            color: white;
        }

        .ProjectTech {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
        }

        .ProjectImage {
            background-color: white;
            border-radius: 50px;
            width: fit-content;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .ProjectLink {
            color: white;
            font-weight: bold;
            font-style: italic;
        }

        .displayed {
            display: flex;
        }

        .hidden {
            display: none;
        }
    }
}