/* ===== PROJECTS ===== */

#ProjectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.Projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
    gap: 20px;

    .Project {
        background-color: #121212;
        -webkit-backdrop-filter: blur(10px) saturate(180%);
        backdrop-filter: blur(10px) saturate(180%);
        padding: 20px;
        width: 30rem;
        height: 30rem;
        cursor: pointer;
        border-radius: 3rem;

        &:hover {
            scale: 1.03;
            outline: 1px solid white;
            transition: scale 0.3s ease-in-out;
        }

        &,
        &>* {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .ProjectTitle {
            font-size: 24px;
            color: white;
        }

        .ProjectDescription {
            text-align: center;
            color: white;
        }

        .ProjectTech {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
        }

        .ProjectImage {
            background-color: white;
            border-radius: 50px;
            width: fit-content;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .ProjectLink {
            color: white;
            font-weight: bold;
            font-style: italic;
        }

        .displayed {
            display: flex;
        }

        .hidden {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    #ProjectsContainer {
        padding: 10px;
    }

    .Projects-list {
        .Project {
            width: 90vw;
        }
    }
}