.About {
    background-color: var(--color-background2);
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
}

.AboutTitle {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px 30px 30px 30px;
}

.AboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AboutContent > * {
    margin: 5px;
}

.AboutText1 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    width: fit-content;
}

@media (max-width: 768px) {
    .About {
        padding: 5px;
    }

    .AboutTitle {
        padding: 10px;
    }

    .AboutContent {
        flex-direction: column;
    }
    .AboutImage {
        width: 100px;
    }
}
