.Home {
    display: flex;
    flex-direction: column;
}

#Hi {
    padding-right: 100px;
}

#Name {
    padding-Left: 100px;
}

.Title {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    color: white;
    font-style: bold;
}

@media (max-width: 768px) {
    #Hi, #Name {
        padding: 0px;
    }
}
