.Contact {
    background-color: var(--color-background);
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
}

.Contact-Title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px 30px 30px 30px;
}

.ContactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ContactImage {
    width: 80px;
}