* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  --color-background: rgb(40, 44, 52, 1);
  /*--color-background2: rgb(83, 86, 95, 1);*/
  --color-background2: rgb(188, 167, 144);
  background-image: url("/wallpaperflare.com_wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html::-webkit-scrollbar, html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  display: none;
}

.container {
    background-color: rgb(0, 0, 0, 0.5);
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}