.Nav {
    height: 90%;
    top: 5%;
    left: 1vw;
    position: fixed;
    display: grid;
    width: 4vw;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .Nav {
        display: none;
    }
}

.Icon {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.Icon:hover > * {
    font-size: 50px;
}