.Stack {
    background-color: #282c34;
}

.StackTitle {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 30px;
}

.Stacks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.StacksText {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}