.Stack {
    background-color: var(--color-background);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    padding: 20px;
}

.StackTitle {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px 30px 30px 30px;
}

.Stacks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.StacksText1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.StacksText2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.StackBtn {
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
}

.StackBtn:hover {
    background-color: var(--color-background);
    color: white;
}