.Stack {
    background-color: #282c34;
}

.Stack-Title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 30px;
}

.Stacks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Stack-Item {
    color: white;
}

.Stack-Item-Title {
    font-size: 2rem;
    margin: 10px;
}

.Stack-Item-List-Item {
    text-align: center;
}